.filteredMovies_wrapper {
  padding: 50px;
  margin-top: 150px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.movie_wrapper {
  width: 230px;
  color: white;
  cursor: pointer;
}
.movie_img {
  border-radius: 10px;
}
.title {
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10px;
}
